<h1> Books</h1>
    <p>Some text</p>
    <ul>
        <% BOOKS.forEach((book) => { %>
            <li>
                <%= book.id %> 
                <%= book.author %> 
                <%= book.title %> 
                
                
               
            </li>
        <% }) %>
    </ul>